ol {
    color: darkturquoise;
    text-decoration: none;
    font-family: fantasy;
    margin: 10px;
    padding: 10px;
    list-style-type: square;
    list-style-position: inherit;
}

ul li {
    padding: 5px;
    margin-left: px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
    list-style-type: none;
}

ul li a {
    margin-bottom: 10px;
    display: inline-block;
    padding: 5px 50px;
    width: 87px;
    height: 30px;
    background-color: slateblue;
    width: 90px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 0px 2px 0px black;
    text-align: center;
}

ul a:hover {
    color: white;
    background: blueviolet;
}